@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-horizontal">
        <div class="form-group">
            <label for="count">projects</label>
            <input type="text" class="form-control" name="projects" placeholder="count of projects"/>
        </div>
        <div class="form-group">
            <label for="count">lines</label>
            <input type="text" class="form-control" name="lines" placeholder="count of lines" />
        </div>
        <div class="form-group col-of">
            <input type="submit" value="generate" class="btn btn-default" />
        </div>
    </div>
}
